body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.sample-header {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: #5E7C88 !important;
    border-color: #536E78 !important;
}

.sample-content {
    border-color: #536E78 !important;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    background: #fafafa !important;
}
